#mousebrain-selector{
	position:relative;
	position:absolute;
	left: 0;
	right: 0;
	bottom:10;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	width:600px;
	display:block;
	background: none;
}

#mousebrain-selector-slider {
	width: 100%;
}

.mousebrain-selector-steps {
	border: 1px solid transparent; /*follows #slider2 style for sizing purposes */
	width: 100%;
	position: relative;
	height: 30px;
}

.mousebrain-selector-tick {
	border: 1px solid transparent; /*follows slide handle style for sizing purposes*/
	position: absolute;
	width: 1.2em;
	margin-left: -.6em;
	text-align:center;
	left: 0;
}

#mousebrain-selector p {
	margin: 0 0;
	text-align: center;
}

#mousebrain-selector-age {
	background-color: #000000;
	color: #ffffff;
	border: none;
	width: 280px;
}
